# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake and build Stuff
CMakeFiles/
build/
.vscode/
Makefile
CMakeCache.txt
*.swp
DATA/lte-orb/geometry.pbrt
DATA/lte-orb/lte-orb-roughglass.pbrt
DATA/lte-orb/lte-orb-silver.pbrt
DATA/lte-orb/README.md
DATA/lte-orb/TestObj.blend
DATA/lte-orb/TestObjPoly.blend
DATA/lte-orb/bsdfs/roughglass_alpha_0.2.bsdf
DATA/lte-orb/spds/Ag.eta.spd
DATA/lte-orb/spds/Ag.k.spd
DATA/lte-orb/spds/Au.eta.spd
DATA/lte-orb/spds/Au.k.spd
DATA/lte-orb/textures/Checker.png
